# 1. Спочатку ігноруємо абсолютно ВСЕ у цій головній папці
/*

# 2. Але дозволяємо сам файл .gitignore (щоб він теж залився на гіт)
!.gitignore

# 3. Дозволяємо ваші 6 папок з лабораторними (замініть назви на ваші реальні!)
!/Lab1/
!/Lab2/
!/Lab3/
!/Lab4/
!/Lab5/
!/Lab6/

# 4. Якщо ви захочете зробити загальний README для всього проекту, розкоментуйте рядок нижче
# !README.md